    <link rel="stylesheet" href="/css/correction.css">

<div class="body">
  <div class="original-summary-area">
    <h1>Your original summary</h1>
    <p class="bold"><%= @title %></p>
    <p><%= @content %></p>
  </div>
  
  
  
  
  <div class="corrected-summary-area">
    <h1>Corrected summary</h1>
    
      <script type="module">
        import * as Grammarly from "@grammarly/editor-sdk";
  
        // 非同期関数内では直接 await を使えないので、即時実行関数を使っています
        (async () => {
          const grammarly = await Grammarly.init("client_7uLCwtZaaTRPJKCyVG6usH");
  
          grammarly.addPlugin(document.querySelector("textarea"), { documentDialect: "british" });
        })();
      </script>
  
      <grammarly-editor-plugin>
        <textarea></textarea>
      </grammarly-editor-plugin>
    
    
    
    
    
    <form action="post_summary" method="post">
        <input type="submit" value="Post">
    </form>
  </div>
</div>
