<div class="body">
    <form class="generate-filter" action="/filter" method="post">
        <h1>Filter articles</h1>
        <h2>Keyword</h2>
        <input class="textbox-short" type="text" name="keyword" autocomplete="off"><br>
                <h2>Difficulty</h2>
        <select class="form-select" name="difficulty">
            <% Difficulty.all.each do |difficulty| %>
                <option value="<%= difficulty.id %>"><%= difficulty.difficulty %></option>
            <% end %>
            </select><br>
        <h2>Word count</h2>
        <select name="length">
            <% Length.all.each do |len| %>
                <option value="<%= len.id %>"><%= len.length %></option>
            <% end %>
        </select><br>
        <input id="generate-button" type="submit" value="Filter">
    </form>
</div>