<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Summin-up</title>
    <link rel="stylesheet" href="/css/original.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat&family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<body>
    <nav>
        <a id="title" <% if session[:user] %> href="/home" <% end %>>Summin-up</a>
        <% unless session[:user] %>
            <a class="status grey" href="/signup">Sign up</a>
            <a class="status grey" href="/signin">Log in</a> 
        <% else %>
            <% if @page=="home" or @page=="filtered" %>
                <div id="generateButtons">
                    <a class="generateButton" href="/generate">Generate article</a>
                </div>
            <% end %>
            <a class="status grey" href="/signout">Log out</a>
        <% end %>    
    </nav>
    
    <%= yield %>
</body>
</html>