<div class="body signin-up">
    <h1>Sign up</h1>
    <form action="/signup" method="post">
        <input class="textbox" type="text" name="username" placeholder="Username" autocomplete="off"><br>
        <input class="textbox" type="password" name="password" placeholder="Password"><br>
        <input class="textbox" type="password" name="password_confirmation" placeholder="Confirm password"><br>
        <input class="button" type="submit" value="Sign up">
    </form> 
</div>
