<link rel="shortcut icon" href="/favicon.ico">

<div class=" body signin-up">
    <h1>Log in</h1>
    <form action='/signin' method="post">
        <input class="textbox" type="text" name="username" placeholder="Username" autocomplete="off"><br>
        <input class="textbox" type="password" name="password" placeholder="Password"><br>
        <input class="button" type="submit" value="Log in">
    </form>
</div>