.info {
  margin: 0px;
}


.text {
    float: left;
    width: 50%;
    padding: 20px;
    height: calc(100vh - 78px);
    overflow: scroll;
    overflow-x: hidden;
}

.summary-area {
    float: right;
    width: 50%;
    padding: 20px;
    height: calc(100vh - 79px);
    background-color: #f5f5f5;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

.title {
  border: none;
  outline: none;
  font-size: 20px;
  background-color: #f5f5f5;
  width: 100%;
}

.summary {
  border: none;
  outline: none;
  resize: none;
  font-size: 18px;
  background-color: #f5f5f5;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  width: 100%;
  height: calc(100vh - 300px);
}

#post-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size: 22px;
  background-color: #DEEFFF;
  border-radius: 30px;
  padding: 15px 30px;
  border: none;
}

#post-button:hover {
  border: solid;
}

.wordCount {
    position: relative;
    top: 30px;
}